<app-navbar></app-navbar>
 
<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg5.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <div class="photo-container">
                    <img src="assets/img/ryan.jpg" alt="">
                </div>
                <h3 class="title">Ryan Scheinder</h3>
                <p class="category">Photographer</p>
                <div class="content">
                    <div class="social-description">
                        <h2>26</h2>
                        <p>Comments</p>
                    </div>
                    <div class="social-description">
                        <h2>26</h2>
                        <p>Comments</p>
                    </div>
                    <div class="social-description">
                        <h2>48</h2>
                        <p>Bookmarks</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
         
            <div class="row">
                <div class="col-md-12">
                    <h4 class="title text-center">My Portfolio</h4>
                    
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
           <div class="copyright">
                &copy;
              {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.linkedin.com/in/hossein-golmohammadi-42b434173/" target="_blank">حسین گل محمدی</a>
                
            </div>
        </div>
    </footer>
</div>
