<div class="wrapper"> 
    <app-navbar></app-navbar> 
    <div class="section">
        <div  class="container">
          <form  novalidate #form="ngForm" (submit)="onSubmit(form)" class="form-inline">
            <mat-form-field appearance="fill">
              <mat-label>لطفا رشته مورد نظر را انتخاب کنید</mat-label>
              <mat-select [(ngModel)]="selectedfields" ariaLabel="hksdsa"  name="fields"  #field="ngModel"  [(ngModel)]="service.formDate.fieldId">
                <mat-option  [value]="0"  (click)="onClickSelect(0, 'optionField')">
                  لطفا رشته مورد نظر را انتخاب کنید
                </mat-option>
                <mat-option *ngFor="let field of dataField" [value]="field.code"  (click)="onClickSelect(field.code , 'optionField')">
                  {{field.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div>
              sdadasdas
            </div>
            <mat-form-field appearance="fill">
              <mat-label>لطفا استاد مورد نظر خود را انتخاب کنید</mat-label>
              <mat-select [(ngModel)]="selectedteachers" [disabled]="disabledTeachers"   name="teachers" #teacher="ngModel"  [(ngModel)]="service.formDate.teacherId" >
                <mat-option   [value]="0" (click)="onClickSelect(0 ,'optionTeacher')">
                  لطفا استاد مورد نظر خود را انتخاب کنید
                </mat-option>
                <mat-option *ngFor="let teacher of dataTeacher" [value]="teacher.code" (click)="onClickSelect(teacher.code ,'optionTeacher')">
                  {{teacher.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          
            <button type="submit" class="btn btn-primary mb-2" [disabled]="disabledTeachers" >Submit</button>
          </form>

        </div>
     </div>
</div>
